.list-item section {
    display: inline-block;
    width: calc(100% - 270px);
    padding: 0;
    margin: 10px;
    vertical-align: top;
}
.list-item section h2 {
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 22px;
    font-weight: bold;
    vertical-align: top;
}
.list-item .image {
    vertical-align: top;
    border: 2px solid #eee;
}
.list-item > a > .image {
    cursor: pointer !important;
}
.list-item span.demo-tag {
    background: green;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
    width: 50px;
    margin-left: -50px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}
.list-item p {
    margin: 10px 5px;
}
.clickable > li:hover section h2 > span {
    background: #ddd;
    border: 2px solid #fff;
}
.clickable > li:hover .image {
    border: 2px solid #999;
}
.clickable > li:hover section .image {
    border: none;
}
@media only screen and (max-width: 700px) {
    .list-item {
        min-height: 180px;
    }
    .list-item section {
        display: inline;
    }
    .list-item section p {
        min-height: 100px;
    }
    .list-item * {
        text-decoration: none !important;
    }
    .list-item .image {
        float: left;
        margin-right: 10px;
        margin-top: 10px;
    }
    .list-item span.demo-tag {
        margin-top: 10px;
        margin-left: -60px;
    }
}
@media only screen and (max-width: 550px) {
    .list-item section p {
        padding-bottom: 0px;
        min-height: 40px;
    }
}
