.image {
    cursor: default;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
}
article.image {
    border: 1px solid #ccc;
    background: #eee;
}
article.image h3 {
    font-size: 16px;
    font-weight: bold;
}
article.image p {
    font-size: 14px;
}
