.filter-dialog {
    background: #fff;
    width: 60%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}
.filter-dialog section:first-child {
    border-bottom: 1px solid #eee;
}
.filter-dialog section:first-child h2 {
    display: inline-block;
    font-size: 18px;
    margin: 5px 0 10px 0;
}
.filter-dialog section:first-child h2 i {
    margin-right: 10px;
}
.filter-dialog section:first-child button {
    display: inline-block;
    background: none;
    float: right;
    border: none;
    outline: 0;
    font-size: 30px;
    line-height: 0.7;
    vertical-align: top;
    padding: 0;
    cursor: pointer;
    color: #333;
    margin: 5px 0 10px 0;
}
.filter-dialog section:first-child button:hover {
    color: royalblue;
}
.filter-dialog section:first-child button:active {
    color: #000;
}
.filter-dialog .dialog-entry {
    margin: 15px 0;
}
.filter-dialog .dialog-entry label {
    width: 150px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.filter-dialog .dialog-entry select {
    width: calc(100% - 150px);
    display: inline-block;
    font-size: 16px;
    padding: 5px;
}
.filter-dialog section:last-child {
    border-top: 1px solid #eee;
    text-align: right;
    padding-top: 10px;
}
.filter-dialog section:last-child button {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: 0;
    border-radius: 5px;
}
.filter-dialog section:last-child button:first-child {
    margin-right: 5px;
    background: #999;
}
.filter-dialog section:last-child button:first-child:hover {
    background: #555;
}
.filter-dialog section:last-child button:first-child:active {
    background: #000;
}
.filter-dialog section:last-child button:last-child {
    background: #337ab7;
}
.filter-dialog section:last-child button:last-child:hover {
    background: #286090;
}
.filter-dialog section:last-child button:last-child:active {
    background: #000;
}
.filter-dialog > .checkbox > label:first-child {
    width: calc(100% - 50px);
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}
.filter-dialog > .checkbox > label:nth-child(2) {
    float: right;
    width: 50px;
    display: inline-block;
    margin: 0;
    text-align: right;
    font-size: 16px;
}
.filter-dialog > .checkbox input[type='checkbox'] {
    display: none;
}
.filter-dialog > .checkbox > section {
    box-sizing: content-box;
    width: 100%;
    display: block;
    border: none;
    padding: 10px;
    text-align: left;
    column-count: 3;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
}
.filter-dialog > .checkbox > section > label {
    box-sizing: content-box;
    display: block;
    font-size: 16px;
    padding: 5px 0;
    break-inside: avoid;
    backface-visibility: hidden;
}
.filter-dialog > .checkbox label.checked,
.filter-dialog > .checkbox label.unchecked {
    cursor: pointer;
}
.filter-dialog > .checkbox label.checked::before,
.filter-dialog > .checkbox label.unchecked::before {
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
    border: 2px solid #333;
    border-radius: 4px;
    line-height: 12px;
    text-align: center;
    font-size: 14px;
    padding-top: 2px;
}
.filter-dialog > .checkbox label.unchecked::before {
    content: '';
    background: #fff;
}
.filter-dialog > .checkbox label.checked::before {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    content: '\2714';
    background: #0077ff;
}
.filter-dialog > .checkbox label.checked {
    font-weight: bold;
}
@media only screen and (max-width: 1200px) {
    .filter-dialog {
        width: 70%;
    }
}
@media only screen and (max-width: 1000px) {
    .filter-dialog {
        width: 75%;
    }
}
@media only screen and (max-width: 800px) {
    .filter-dialog {
        width: 85%;
    }
}
@media only screen and (max-width: 600px) {
    .filter-dialog {
        width: 90%;
    }
    .filter-dialog > .checkbox > section {
        column-count: 2;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
    }
}
@media only screen and (max-width: 400px) {
    .filter-dialog {
        width: 90%;
    }
    .filter-dialog > .checkbox > section {
        column-count: 1;
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
    }
}
