.gallery > .no-pic {
    padding: 20px;
    text-align: center;
}
.gallery {
    padding: 40px 20px 40px 15px;
}
.gallery > .thumbnails > .image {
    width: calc(20% - 5px) !important;
    border: 2px solid #ccc;
    margin-left: 5px;
}
.gallery > .thumbnails > .image:hover {
    border: 2px solid #777;
}
.gallery > .thumbnails > .image:active {
    border: 2px solid #000;
}
@media only screen and (max-width: 1500px) {
    .gallery > .thumbnails > .image {
        width: calc(25% - 5px) !important;
    }
}
@media only screen and (max-width: 1000px) {
    .gallery > .thumbnails > .image {
        width: calc(33% - 5px) !important;
    }
}
@media only screen and (max-width: 750px) {
    .gallery > .thumbnails > .image {
        width: calc(50% - 5px) !important;
    }
}
@media only screen and (max-width: 550px) {
    .gallery > .thumbnails > .image {
        width: 100% !important;
        height: 220px !important;
    }
}
@media only screen and (max-width: 480px) {
    .gallery > .thumbnails > .image {
        height: 180px !important;
    }
}
