.gallery > .no-pic {
    padding: 20px;
    text-align: center;
}
.gallery {
    padding: 40px 20px;
}
.gallery > .thumbnails > .image {
    margin: 5px;
    border: 1px solid #eee;
}
.gallery > .thumbnails > .image:hover {
    border: 2px solid #777;
}
.gallery > .thumbnails > .image:active {
    border: 2px solid #000;
}
