.items {
    padding: 0;
    margin: 0;
}
.items > li {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 5px 10px 5px 5px;
}
.items > li a {
    display: block;
    width: 100%;
    color: #333;
    outline: 0;
}
.items > li > .filter-btn {
    background: none;
    border: none;
    outline: 0;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    border-right: 2px solid #ddd;
    padding-right: 5px;
}
.items > li > .filter-btn:hover {
    color: royalblue;
}
.items > li > .filter-btn:active {
    color: #000;
}
.items > li:nth-child(2) {
    padding: 5px 0;
}
.items > li:nth-child(2) > p {
    width: calc(100% - 240px);
    display: inline-block;
    margin-top: 20px;
    padding-left: 5px;
    vertical-align: bottom;
}
.items > li:nth-child(2) > .pagination {
    width: 240px;
    display: inline-block;
    text-align: right;
    margin: 0;
}
.items > li:last-child {
    border: none;
    height: 50px;
}
.items > li:last-child > .pagination,
.items > li:last-child > p {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.clickable > li {
    cursor: pointer;
}
.clickable > li:nth-child(2):hover,
.clickable > li:last-child:hover {
    background: #fff;
    cursor: default;
}
.clickable > li:hover {
    background: #eee;
}
.clickable > li > .image {
    cursor: pointer;
}
