.items {
    padding: 0;
    margin: 0;
}
.items > li {
    list-style: none;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
}
.items > li a {
    display: block;
    width: 100%;
    color: #333;
    outline: 0;
}
.items > li:first-child {
    padding: 5px 0;
}
.items > li:first-child > p {
    width: calc(100% - 240px);
    display: inline-block;
}
.items > li:first-child > .pagination {
    width: 240px;
    display: inline-block;
    text-align: right;
    margin: 0;
}
.items > li:last-child {
    border: none;
}
.items > li:last-child > .pagination,
.items > li:last-child > p {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.clickable > li {
    cursor: pointer;
}
.clickable > li:first-child:hover,
.clickable > li:last-child:hover {
    background: #fff;
    cursor: default;
}
.clickable > li:hover {
    background: #eee;
}
.clickable > li > .image {
    cursor: pointer;
}
