.tags-list {
    padding-top: 10px;
}
.tags-list > section {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-top: -10px;
}
.tags-list > section span {
    margin-top: -5px;
    float: right;
    vertical-align: top;
    font-size: 18px;
}
.tags-list > ul {
    list-style: none;
    padding: 0;
    word-wrap: break-word;
}
.tags-list > ul > li {
    display: inline-block;
    background: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
}
.tags-list > p.no-tags {
    text-align: center;
    padding: 5px 0;
}
