body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 60%;
    margin: 20px auto;
}
.error{
    background: #FFF0F5;
    color: red;
    border-collapse: collapse;
}
.error td:nth-child(1){
    width: calc(100% - 60px);
    padding: 20px;
}
.error td:nth-child(2){
    width: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.fetching{
    background: palegreen;
    color: green;
    padding: 20px;
}
.error, .fetching{
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    font-weight: bold;
}
nav ul {
    list-style: none;
    border: red 1px solid;
    padding: 0;
}
nav ul li a {
    border: red 1px solid;
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: royalblue;
}
.curr-page {
    text-decoration: underline;
    font-weight: bold;
}
