.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-collapse: collapse;
}
.error td:first-child{
    width: calc(100% - 60px);
    padding: 20px;
}
.error td:nth-child(2){
    width: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
.fetching{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 20px;
}
.error, .fetching{
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    font-weight: bold;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    color: royalblue;
}
.curr-page {
    text-decoration: underline;
    font-weight: bold;
}
