PORT=3000
PUBLIC_URL=/
COMPOSE_FILE=./docker/docker-compose.yml

GITHUB_EMAIL=email
GITHUB_USERNAME=username
GITHUB_TOKEN=token

# data backend
DATA_BACKEND_ENV=development
DATA_BACKEND_NAME=App Name
DATA_BACKEND_DESC=write a description of this app
DATA_BACKEND_HOST=0.0.0.0
DATA_BACKEND_PORT=3001

# database
DB_USERNAME=root
DB_PASSWORD=mySecretPassword
DB_HOST=mongodb
DB_PORT=27017
DB_DATA=app

# data frontend
DATA_FRONTEND_PORT=8080
