.modal-mask {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.modal-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #000;
    opacity: 0.5;
    z-index: 2;
}
.modal-body-content {
    background: none;
    position: fixed;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: 3;
    box-sizing: border-box;
}
.modal-body-content > .navbar {
    width: 250px;
    position: fixed;
}
