@import '../styles/colors';

.link {
	color: $external-link-color;
	font-size: 16px;
	word-wrap: break-word;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	.externalIcon {
		color: #999;
		margin-left: 5px;
	}
	&:hover {
		color: $hover-external-link-color;
		.externalIcon {
			color: $hover-text-color;
		}
	}
	&:active {
		color: $active-external-link-color;
		.externalIcon {
			color: $active-text-color;
		}
	}
}
