@import '../styles/colors';

.link {
	color: $external-link-color;
	font-size: 16px;
	svg {
		color: #999;
		margin-left: 5px;
	}
	&:hover {
		color: $hover-external-link-color;
		svg {
			color: $hover-text-color;
		}
	}
	&:active {
		color: $active-external-link-color;
		svg {
			color: $active-text-color;
		}
	}
}
