.fieldset {
    border: none;
    input {
        margin-right: 5px;
    }
    .checked {
        font-weight: bold;
    }
    .heading {
        width: 100%;
        display: flex;
        label:first-child {
            flex-grow: 1;
        }
    }
    .body {
        columns: 4;
        label {
            width: 100%;
            display: inline-block;
            text-align: left;
            line-height: 25px;
        }
    }
}
