.fieldset {
    border: none;
    label {
        cursor: pointer;
        font-size: 16px;
        line-height: 16px;
        vertical-align: top;
        margin: 5px 0;
        input {
            display: none;
        }
        svg {
            margin: 0 5px;
            vertical-align: top;
        }
    }
    .checked {
        font-weight: bold;
        svg {
            color: #1c7ed6;
        }
    }
    .heading {
        width: 100%;
        display: flex;
        margin-top: 10px;
        margin-bottom: 5px;
        label:first-child {
            flex-grow: 1;
            font-weight: bold;
        }
    }
    .body {
        $column-width: 25%;
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        -webkit-column-width: $column-width;
        -moz-column-width: $column-width;
        column-width: $column-width;
        label {
            width: $column-width;
            display: inline-block;
            text-align: left;
        }
    }
}
