@mixin font-style {
    font-size: 18px;
    line-height: 30px;
}
.fieldset {
    border: none;
    display: flex;
    margin: 10px 0;
    label {
        width: 150px;
        @include font-style;
        font-weight: bold;
    }
    select {
        flex-grow: 1;
        cursor: pointer;
        border: 1px solid #000;
        border-radius: none;
        background: #fff;
        option {
            cursor: pointer;
        }
        @include font-style;
    }
}
