@import '../styles/dimensions';
@import '../styles/colors';
@import '../styles/mixins';
.header {
	display: flex;
	border-bottom: 1px solid $border-color;
	line-height: $header-height;
	h1 {
		flex-grow: 1;
		margin: 0 0 0 25px;
		font-size: 22px;
		.favicon {
			width: 25px;
			height: 25px;
		}
		.navButton {
			line-height: $header-height;
			margin-right: 15px;
			cursor: pointer;
			background: none;
			border: none;
			color: $text-color;
			font-size: 22px;
			&:hover svg {
				color: $hover-text-color;
			}
			&:active svg {
				color: $active-text-color;
			}
		}
	}
	section {
		display: flex;
		font-size: 16px;
		margin-right: 10px;
		span {
			margin-right: 5px;
			font-weight: bold;
		}
	}
	@include standard-links;
}
@media only screen and (max-width: 550px) {
	.header {
		flex-direction: column;
		h1 {
			display: block;
		}
		section {
			display: block;
			margin-left: 60px;
			line-height: 20px;
			padding-bottom: 10px;
			span {
				display: inline-block;
			}
			ul {
				display: inline-block;
			}
		}
	}
}
