@import '../styles/mixins';
$button-dimension: 50px;
.dialog {
	margin: 0 auto;
	max-width: 1200px;
	width: 80%;
	display: flex;
	border: none;
	figure {
		flex-grow: 1;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		z-index: 1;
		max-height: 100vh;
		.imgButton {
			background: none;
			border: none;
			cursor: pointer;
			img {
				text-align: center;
			}
		}
		figcaption {
			padding: 10px;
			display: block;
			border-top: 1px solid #000;
			max-height: 100px;
			overflow-y: auto;
		}
	}
}
@mixin image-dialog-buttons {
	@include vertical-center;
	@include standard-button;
	height: $button-dimension;
	line-height: $button-dimension;
	font-size: 30px;
	width: $button-dimension;
	text-align: center;
}
.leftButton {
	@include image-dialog-buttons;
	left: 0;
}
.rightButton {
	@include image-dialog-buttons;
	right: 0;
}
