@import '../styles/mixins';
$button-dimension: 50px;
$max-width: 1200px;
$max-height: 80vh;
.dialog {
	margin: 0 auto;
	max-width: $max-width;
	max-height: $max-height;
	display: inline-block;
	border: none;
	figure {
		flex-grow: 1;
		display: inline-block;
		flex-direction: column;
		z-index: 1;
		max-height: 100vh;
		.imgButton {
			background: none;
			border: none;
			cursor: pointer;
			img {
				margin: 0 auto;
				max-width: $max-width;
				max-height: $max-height;
				text-align: center;
			}
		}
		figcaption {
			width: 100%;
			background: #fff;
			position: fixed;
			padding: 10px;
			display: block;
			border-top: 1px solid #000;
			max-height: 100px;
			overflow-y: auto;
		}
	}
}
@mixin image-dialog-buttons {
	@include vertical-center;
	@include standard-button;
	height: $button-dimension;
	line-height: $button-dimension;
	font-size: 30px;
	width: $button-dimension;
	text-align: center;
}
.leftButton {
	@include image-dialog-buttons;
	left: 0;
}
.rightButton {
	@include image-dialog-buttons;
	right: 0;
}
