@import '../styles/dimensions';
.layout {
	height: 100vh;
	overflow-y: hidden;
	.nonHeader {
		display: flex;
		height: calc(100vh - calc(#{$header-height} + 3px));
		main {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			height: 100%;
			overflow-y: auto;
			.pageBody {
				flex-grow: 1;
				background: #eee;
				article {
					width: 80%;
					max-width: 1200px;
					height: 100%;
					background: #fff;
					margin: 0 auto;
					padding: 20px 20px 30px 20px;
				}
			}
			footer {
				border-top: 1px solid #ccc;
				font-size: 16px;
				line-height: $footer-height;
			}
		}
		.navModal {
			header {
				position: fixed;
				top: calc(-50vh - 1px);
				background: #fff;
				width: 100%;
			}
			nav {
				position: fixed;
				top: calc(-50vh + calc(#{$header-height} + 1px));
				display: block;
				background: #fff;
				height: calc(100vh - #{$header-height});
			}
		}
	}
}
@media only screen and (max-width: 550px) {
	.layout {
		.nonHeader {
			height: calc(100vh - calc(#{$small-screen-header-height} + 3px));
			.navModal {
				nav {
					top: calc(
						-50vh + calc(#{$small-screen-header-height} + 2px)
					);
					height: calc(100vh - #{$small-screen-header-height});
				}
			}
		}
	}
}
@media only screen and (max-width: 800px) {
	.layout {
		.nonHeader > main > .pageBody > article {
			width: 95%;
		}
	}
}
@media only screen and (max-width: 1200px) {
	.layout {
		.nonHeader > main > .pageBody > article {
			width: 90%;
		}
	}
}
@media only screen and (max-width: 1500px) {
	.layout {
		.nonHeader > main > .pageBody > article {
			width: 85%;
		}
	}
}
