@import '../styles/mixins';
.dialog {
	max-width: 95vw;
	width: 480px;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	padding: 20px;
	img {
		width: 100px;
		margin: 0 auto;
		display: block;
	}
	p {
		padding-top: 10px;
		font-size: 14px;
	}
	button {
		font-size: 16px;
		padding: 5px 10px;
		margin-top: 10px;
		border-radius: 5px;
	}
	.proceedButton {
		@include standard-button;
		float: right;
	}
	.goBackButton {
		@include plain-button;
	}
}
