@import '../styles/colors';
@mixin minimized-nav {
	li {
		width: 70px;
		a {
			svg {
				display: block;
				font-size: 28px;
				width: 100% !important;
				margin-bottom: 5px;
			}
			font-size: 10px;
			word-wrap: break-word;
			text-align: center;
			display: block;
			width: 100%;
		}
	}
}
.navbar {
	padding: 0;
	border-right: 1px solid #ddd;
	height: 100%;
	li {
		width: 250px;
		list-style: none;
		margin: 15px 5px;
	}
}
.minimized {
	@include minimized-nav;
}
.expanded li a {
	color: $text-color;
	svg {
		margin: 0 17px;
	}
}
@media only screen and (max-width: 800px) {
	.navbar {
		display: none;
	}
}
@media only screen and (max-width: 1200px) {
	.navbar {
		li a {
			color: #444;
			svg {
				margin: 0;
			}
		}
		@include minimized-nav;
	}
}
