@import '../styles/mixins';
@import '../styles/colors';
.link {
	@include standard-links;
	a {
		font-size: 18px;
		color: #444;
		svg {
			width: 35px !important;
			font-size: 28px;
		}
	}
	.selected {
		text-decoration: underline;
		font-weight: 1000;
		color: $text-color;
	}
}
