.topInfo {
	margin: 0 10px;
	margin-bottom: 10px;
	display: flex;
	.summary {
		flex-grow: 1;
		padding: 15px 0 0 10px;
		height: 30px;
		font-weight: bold;
	}
}
.heading {
	margin: 0 10px 0 20px;
	line-height: 10px;
	font-size: 22px;
}
.bottomPagination {
	margin: 10px auto;
	width: 200px;
}
