@import '../styles/mixins';
.preview {
	li {
		display: inline-block;
		width: calc(100% / 4);
		vertical-align: top;
		@include standard-links;
		a {
			margin: 0 5px;
			display: block;
			font-size: 18px;
			.previewImage {
				width: 100%;
				min-height: 140px;
			}
		}
	}
}
