@import '../styles/colors';
.projects {
	section {
		a {
			text-decoration: none;
			border-bottom: 1px solid #ccc;
			display: flex;
			.previewImage {
				width: 320px;
				margin: 10px;
				align-self: flex-start;
			}
			ul {
				flex-grow: 1;
				list-style: none;
				color: $text-color;
				width: calc(100% - 320px);
				li {
					margin: 10px;
					h3 {
						font-size: 24px;
					}
					p {
						font-size: 16px;
					}
				}
			}
		}
		&:last-child {
			a {
				border: none;
			}
		}
		&:hover {
			background: #eee;
		}
	}
}
