@import '../styles/colors';
@import '../styles/mixins';
.overview {
	border: 3px solid $border-color;
	border-radius: 10px;
	display: flex;
	margin: 0 10px;
	h2 {
		font-size: 18px;
	}
	.previewImage {
		max-width: 270px;
		@include set-preview-image-width(270px);
		margin: 10px;
		align-self: flex-start;
	}
	ul {
		flex-grow: 1;
		& > li {
			font-size: 14px;
			margin: 10px 10px 10px 0;
			list-style: none;
		}
	}
}
@media only screen and (max-width: 800px) {
	.overview {
		@include set-preview-image-width(250px);
	}
}
@media only screen and (max-width: 750px) {
	.overview {
		@include set-preview-image-width(200px);
	}
}
@media only screen and (max-width: 650px) {
	.overview {
		flex-direction: column;
		padding: 15px;
		@include set-preview-image-width(100%);
		.previewImage {
			margin: 0 auto;
		}
		ul {
			width: 100%;
		}
	}
}
