@import '../styles/colors';
$search-text-height: 25px;
.searchbar {
	border: 3px solid $border-color;
	border-radius: 5px;
	display: flex;
	margin: 0 10px 20px 10px;
	input {
		flex-grow: 1;
		border: none;
		outline: none;
		background: none;
		line-height: $search-text-height;
		font-size: 16px;
		padding: 5px 0 5px 5px;
	}
	button {
		border: none;
		background: none;
		cursor: pointer;
		color: $text-color;
		padding: 0 5px;
		line-height: $search-text-height;
		&:hover {
			color: $hover-text-color;
		}
		&:active {
			color: $active-text-color;
		}
	}
}
.focus {
	border-color: #aaa;
}
