@import '../styles/colors';
@mixin tag-border {
	color: $text-color;
	border: 3px solid #ccc;
	border-radius: 5px;
	padding: 5px 10px 5px 5px;
	margin: 0 5px;
}
.node {
	li {
		display: inline;
		font-weight: bold;
		font-size: 16px;
		a {
			@include tag-border;
			text-decoration: none;
			&:hover {
				background: #f7f7f7;
			}
			&:active {
				background: #999;
				color: #fff;
				border-color: #666;
			}
		}
		span {
			@include tag-border;
		}
	}
}
