.project-info {
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
}
.project-info h2 {
    line-height: 25px;
    margin: 10px 0;
}
.project-info > .image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.project-info > .btn {
    margin-right: 10px;
}
.project-info > p {
    margin: 10px 0;
    min-height: 70px;
}
.project-info > p > b {
    display: block;
}
.project-info > ul {
    list-style: none;
    padding: 0;
}
.demo {
    background: #ddd;
    border: 2px solid #fff;
}
.demo {
    font-size: 12px;
    background: #eee;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
    line-height: 25px;
    vertical-align: top;
}
.tab-link {
    color: royalblue;
    text-decoration: none;
    outline: 0;
}
.tab-link i {
    color: #777;
    margin: 0 5px;
}
.tab-link:hover i,
.tab-link:focus:hover i {
    color: royalblue;
}
.tab-link:focus i {
    color: #000;
}
.tab-link:hover,
.tab-link:focus:hover {
    color: royalblue;
    text-decoration: underline;
}
.tab-link:focus {
    color: darkblue;
    text-decoration: underline;
}
.tabs {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    padding-bottom: 6px;
    border-bottom: 3px solid #eee;
}
.tabs li {
    display: inline;
    border: 1px solid #ddd;
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.tabs > .selected {
    font-weight: bold;
    background: #fff;
    border-bottom: 2px solid #fff;
}
