.project-info {
    border: 2px solid #eee;
    padding: 10px 20px;
    border-radius: 10px;
}
.project-info h2 {
    line-height: 25px;
    margin: 10px 0;
}
.project-info h2.demo {
    margin: -15px 0 0 0;
}
.project-info > .image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.project-info > span.demo-tag {
    background: green;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 0;
    width: 50px;
    margin-left: -60px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}
.project-info > p {
    margin-top: 15px;
    min-height: 20px;
    display: block;
}
.project-info > p.demo {
    min-height: 45px;
}
.project-info > ul {
    list-style: none;
    padding: 0;
}
.project-info > ul > li {
    margin: 10px 0;
}
.project-info .tech-list b {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
}
