.header {
    width: 100%;
    height: 60px;
    display: inline-block;
    border-bottom: #eee 2px solid;
    padding: 15px;
}
.header li {
    display: inline-block;
    vertical-align: top;
}
.header li:first-child {
    width: calc(100% - 120px);
    color: #333;
    font-size: 12px;
}
.header li:nth-child(2) {
    width: 120px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
}
.icon-link {
    margin-left: 5px;
    color: inherit;
}
.icon-link:hover {
    color: royalblue;
}
.icon-link:focus {
    color: darkblue;
    outline: 0;
}
@media only screen and (max-width: 530px) {
    .header {
        height: 80px;
    }
    .header li {
        width: 100% !important;
        display: block;
    }
}
