.navbar {
    border-right: #ccc 2px solid;
    width: 250px;
    height: 100%;
    background: #fff;
    display: block;
}
.navbar ul {
    list-style: none;
}
.navbar ul li{
    padding: 10px;
}
.navbar ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover {
    color: royalblue;
}
.navbar .curr-page {
    text-decoration: underline;
    font-weight: bold;
}
