.navbar {
    padding: 0;
    margin: 0;
}
.navbar ul {
    list-style: none;
    padding: 0;
}
.navbar ul li{
    display: inline;
}
.navbar ul li a {
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.navbar ul li a:hover {
    color: royalblue;
}
.navbar .curr-page {
    text-decoration: underline;
    font-weight: bold;
}
