.image-modal {
    width: 70%;
    max-width: 1200px;
    max-height: calc(100vh - 40px);
    margin: 0 auto;
    padding: 0;
    overflow: visible;
}
.image-modal .image {
    display: block;
    margin: 0;
}
.image-modal figcaption {
    border-top: 1px solid #000;
    margin: 0;
    padding: 5px 20px;
    width: 100%;
    overflow-y: auto;
    display: block;
    background: #fff;
    cursor: default;
}
.image-modal > .image-holder {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}
.image-modal .custom-btn {
    width: 50px;
    height: 100px;
    display: inline-block;
    border-radius: 0;
    font-size: 50px;
    border: 0;
    outline: 0;
    color: #fff;
    background: #337ab7;
    cursor: pointer;
}
.custom-btn:hover {
    background: #286090;
}
.custom-btn:active {
    background: #194972;
    color: #eee;
}
.image-modal .custom-btn:first-child {
    margin-left: -50px;
}
.image-modal .custom-btn:nth-child(3) {
    margin-right: -50px;
}
.image-modal .custom-btn[disabled] {
    display: none;
    cursor: not-allowed;
}
