.error {
    color: #721c24;
    background-color: #f8d7da;
    border: #f5c6cb 1px solid;
    display: block;
    width: 100%;
    font-weight: bold;
    height: 60px;
}
.error li {
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
    padding: 20px 0 20px 20px;
}
.error-body > .page-body {
    min-height: calc(100vh - 170px);
}
@media only screen and (max-width: 530px) {
    .error-body > .page-body {
        min-height: calc(100vh - 190px);
    }
}
