.form-control:focus {
    border: 1px solid #ccc !important;
    box-shadow: none !important;
}
.form-group table {
    width: 100%;
    border: rgba(255, 255, 255, 0) 1px solid;
}
.form-group table td:first-child {
    width: 150px;
    padding-right: 20px;
}
.font-awesome i.preview {
    font-size: 70px;
    width: 120px;
    height: 100px;
    line-height: 70px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    border: 1px solid #eee;
    margin-right: 5px;
    padding: 10px 0;
}
.font-awesome input {
    width: calc(100% - 130px);
    display: inline-block;
    vertical-align: top;
}
.form-check {
    display: block;
    margin: 0 10px 0 0;
}
.form-check .form-check-input {
    margin: 5px;
    outline: 0;
}
.image-field {
    padding: 0;
}
.image-field li {
    display: inline-block;
    vertical-align: top;
}
.image-field li:first-child {
    width: 200px;
}
.image-field li:nth-child(2) {
    width: calc(100% - 210px);
    margin-left: 10px;
}
.image-field li:nth-child(2) hr {
    margin: 10px 0;
}
